.one_stock {
	display: flex;
	color: white;
}

.space{
	width: 1%;
}

.id {
	width: 3%;
}

.stock_id, .name{
	width: 5%;
	text-align: right;
	font-family: Consolas, serif;
}

.currentPrice, .change, .avg_price, .dev {
	width: 5%;
	text-align: right;
	font-family: Consolas, serif;
}

 .data_date, .data_time{
	width: 7%;
	text-align: right;
	font-family: Consolas, serif;
}

.greenFont {
	color: green;
	font-weight: bold;
}

.redFont {
	color: red;
	font-weight: 500;
}

.blueFont {
	color: #0055a2;
}
body {

}

h1, tr{

		font-family: Consolas, serif;
}

table {
	text-align: center;
}

form {
	display: flex;
}
 input{
 	margin: 10px;
 	font-size: 20px;
 	padding: 5px;
 }

 button {
    font-size: 15px;

 	padding: 7.5px;
 	margin: 10px;
 }