extends layout

block content
    h1 list all stocks
    form(method='get', action='/stocks/queryAll')
        div.form-row
            label
                span ID:
                
        div.form-row
            label
                span name:
                
        div.form-row
            label
                span number:

